.registerComp{

    background-image: linear-gradient(to top ,rgb(77, 77, 255), rgb(250, 70, 250));
    width: 100vw;
    height: 120vh;
    position: relative;
    overflow-y: scroll;
    
}
.register__img{
    
    position: absolute;
    width: 60%;
    height: 100%;
    object-fit: contain;
    opacity: 0.3;
}
.registerComp__wrapper{
    position: absolute;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top ,rgb(244, 253, 189), rgb(252, 199, 252));
    justify-content: flex-end;
   
    
}
.heading__deals{

    margin: 7px;
}
.wrapper__register{

    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px 0px;
    padding: -5px 5px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(230, 230, 230);
    
}
.register__inputs{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.register__inputs--input{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.register__inputs--input>input{

    height: 24px;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
}
.register__inputs--input>div{
     
    display: flex;
    align-items: center;
    height: 27px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
}
.register__inputs--input>div>input{

    height: 23px;
    border-radius: 5px;
    outline: none;
    width: 98%;
    border: none;
}
.register__btn{

    width: 95%;
    margin-top: 10px;
    height: 30px;
}
.register__btn>button{

    width: 100%;
    background-color: rgb(255, 227, 103);
    height: 100%;
    border: 1px solid black;
    border-radius: 2px;

}
.hr__line{

    border: 1px dashed rgb(196, 196, 196);
    width: 50%;
}

@media only screen and (max-width:600px){

    .registerComp{

        width: 100vw;
        height: 120vh;
        position: relative;
        background-image: linear-gradient(to top ,rgb(244, 253, 189), rgb(252, 199, 252));
        
    }
    .registerComp__wrapper{
        
        background-image: linear-gradient(to top ,rgb(244, 253, 189), rgb(252, 199, 252));
      
        
        
    }
}